[Unit]
Description=Multi network manager
After=network.target

[Service]
ExecStart=/usr/local/sbin/multi_client -d -c /etc/multi.yml
Type=forking
Restart=on-failure

# 'sshd -D' leaks stderr and confuses things in conjunction with 'console log'
StandardError=null
StandardOutput=null

[Install]
WantedBy=multi-user.target
